<?xml version="1.0"?>
<!-- @remote do this launch -->
<launch>
	<arg name="rosenv" default="local" />
	<group>
		<machine name="neo" address="neobotix.local" env-loader="/home/neobotix/remote_launch.sh $(arg rosenv)" user="neobotix" password="PASSWORD" timeout="15" default="true"/>
		<node machine="neo" pkg="remote_launch" type="bringup" name="$(anon ship)"/>
		<node machine="neo" pkg="rosservice" type="rosservice" name="$(anon yarr)" args="call --wait /relayboard_v2/set_LCD_msg 'NeoMaster=remote/$(optenv USER captain?)'"/>
	</group>
</launch>
